<script src="resources/librerias/js/jquery.js"></script>


<!-- Sweetalert2 -->
<script src="resources/librerias/sweetalert2/dist/sweetalert2.all.min.js"></script>
<script src="resources/librerias/sweetalert2/dist/sweetalert2.min.js"></script>

<!-- Table js -->
<script src="resources/librerias/datatable/DataTables-1.10.24/js/dataTables.bootstrap4.min.js"></script>
<script src="resources/librerias/datatable/datatables.min.js"></script>
<script src="resources/librerias/js/bootstrap.min.js"></script>
<script src="resources/librerias/js/fullpage.min.js"></script>
<script src="resources/librerias/js/scrolloverflow.js"></script>
<script src="resources/librerias/js/owl.carousel.min.js"></script>
<script src="resources/librerias/js/jquery.inview.min.js"></script>
<script src="resources/librerias/js/form.js"></script>
<script src="resources/librerias/js/custom.js"></script>


</body>
</html>