<%- include("../includes/head.ejs") %>
    <%- include('../includes/header.ejs') %>

        
    <div id="fullpage" class="fullpage-default">


        <div class="section animated-row" data-section="slide05">
            <div class="section-inner">
                <div class="row justify-content-center align-items-center vh-100">
                    <div class="col-md-8 wide-col-laptop ">
                        <div class="title-block animate" data-animate="fadeInUp">
                            <span>¿Quiénes somos?</span>
                            <h2></h2>
                        
                        </div>
                            
                        <body class="m-o vh-100 row justify-content-center" style="margin-left: 24%; margin-top: 7%;" ></body>
                        
                            <div class="title-block animate">
                                <div class="gallery-list owl-carousel">
                                 <div class="item animate" data-animate="fadeInUp">
                                    <div class="portfolio-item">
                                        <div class="thumb">
                                            <img src="resources/img/galery/Sara.jpeg" alt="">
                                        </div>
                                        <div class="thumb-inner animate" data-animate="">
                                            <h4>Sara Rodriguez</h4>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>

                                <div class="item animate" data-animate="fadeInUp">
                                    <div class="portfolio-item">
                                        <div class="thumb">
                                            <img src="resources/img/galery/walto.jpeg" alt="">
                                        </div>
                                        <div class="thumb-inner animate" data-animate="fadeInUp">
                                            <h4>Walther Chavarro</h4>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        
                        </body>

                        



                       
                            <h2></h2>
                            <div class="title-block animate" data-animate="fadeInUp">
                                <h10>La aplicación MIRAWEB hace parte de un ejercicio académico en el programa Técnico en Programación de Software, en convenio Institución Universitaria Salazar y Herrera - SENA, 2021.
                                    <p>
                                    Autores:  Sara Rodriguez - Walther Chavarro
                                    <p>
                                    Los derechos de uso y ejecución están sujetos a Licencia Creative Commons, o derechos reservados de autor según sea el caso consulte "co.creativecommons.org"</h6>
                                <h2></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <%- include("../includes/footer.ejs") %>
